.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .logo {
        height: 50px;
    }

    .title {
        // font-size: 3rem;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: var(--color-black);
    }

    .login {
        display: flex;
        align-items: center;

        .profileImage {
            border: 2px solid black;
            border-radius: 50%;
            height: auto;
        }

        .userName{
            text-decoration: bold;
            color: black;
        }
    }
}