@mixin glass {
  background: linear-gradient(135deg, var(--bg-start), var(--bg-end));
  box-shadow: var(--h1) var(--v1) var(--color-dark),
      var(--h2) var(--v2) var(--color-light);
}

.menubar {
  width: 100%;
  bottom: 0;
  background-color: var(--color-primary);

  .nav-container {
    display: flex;
    justify-content: space-evenly;
  }

  .nav-btn {
    @include glass;
    padding: 4px 0;
    text-align: center;
    border-color: transparent;
    text-transform: capitalize;
    transition: all 0.3s linear;
    cursor: pointer;
    line-height: 1;
    color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-bottom: 10px;
    word-break: break-word;
    font-weight: bold;
    font-size: 12px;
    text-decoration: none;
  }

  .active-nav,
  .nav-btn:hover {
    @include glass;
    background: var(--color-secondary);
    color: black;

    svg {
      color: black;
    }
  }

  svg {
    width: 100%;
    font-size: 24px;
  }
}