@media (max-width: 450px) {

.mt-app-container {
    overflow-x: hidden;
    background-color: var(--color-secondary);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .mt-app-header {
        width: 100%;
        color: var(--color-white);
        background-color: var(--color-primary);
        height: 54px;
    }

    .mt-app-content {
        z-index: 1;
        top: 54px;
        overflow-y: auto;
    }

    .mt-app-footer {
        max-height: 6em;
        max-width: 450px;
        width: 100%;
        height: 54px;
    }
}

}