.mt-app-container {
        .mt-app-header {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 60px;
            right: 0px;
            overflow: hidden;
            color: var(--color-white);
            background-color: var(--color-primary);
        }

        .mt-app-content {
            position: absolute;
            top: 60px;
            bottom: 60px;
            left: 0px;
            right: 0px;
            overflow: auto;
        }

        .mt-app-footer {
            position: absolute;
            bottom: 0px;
            height: 60px;
            left: 0px;
            right: 0px;
            overflow: hidden;
        }
    }