.container {
    height: 100vh;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    background-color: var(--color-secondary);

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        color: var(--color-white);
        text-align: center;
        background-color: var(--color-primary);
    }

    .content {
        position: relative;
        top: 70px;
        height: calc(100vh - 120px);
    }

    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}